/*///////////////////////////////////////////////////////////////////////////*/
@import "compass/css3";
@import "compass/reset";
@include global-reset();

/*///////////////////////////////////////////////////////////////////////////*/
@import "CSS:../../node_modules/font-awesome/css/font-awesome";
@import "CSS:../../bower_components/uikit/css/uikit.almost-flat.min";

/*///////////////////////////////////////////////////////////////////////////*/
@import "fonts";
@import "base";
@import "helpers";
@import "print";

/*///////////////////////////////////////////////////////////////////////////*/
/* CUSTOM STYLES */
/*///////////////////////////////////////////////////////////////////////////*/

.title-emphazis {
	padding-left: 6px;
	border-left: 3px solid $actionColor;
	font-size: 16px;
	line-height: 16px;
}